.navbar {
    background-color: #8B0000; /* Color rojo vino */
}

footer {
    background-color: #8B0000; /* Color rojo vino */
}

.btn{
    background-color: #8B0000; /* Color rojo vino */
}